Repository material-foundation/flutter-packages, changes with the labels that .github/labeler.yml gives for each.
All labels: p: google_fonts, p: dynamic_color, p: adaptive_breakpoints, p: adaptive_navigation, p: adaptive_components, p: symbols

.github/labeler.yml:

# See .github/workflow/label_pull_requests.yml

'p: google_fonts':
  - packages/google_fonts/**/*

'p: dynamic_color':
  - packages/dynamic_color/**/*

'p: adaptive_breakpoints':
  - packages/adaptive_breakpoints/**/*

'p: adaptive_navigation':
  - packages/adaptive_navigation/**/*

'p: adaptive_components':
  - packages/adaptive_components/**/*

'p: symbols':
  - packages/symbols/**/*

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  packages/adaptive_breakpoints/example/.metadata
  packages/adaptive_breakpoints/example/ios/RunnerTests/RunnerTests.swift
  packages/adaptive_breakpoints/example/macos/RunnerTests/RunnerTests.swift
  packages/adaptive_breakpoints/example/pubspec.lock
  packages/adaptive_breakpoints/example/web/index.html
  packages/adaptive_breakpoints/pubspec.lock
  packages/adaptive_components/example/.metadata
  packages/adaptive_components/example/ios/RunnerTests/RunnerTests.swift
  packages/adaptive_components/example/macos/RunnerTests/RunnerTests.swift
  packages/adaptive_components/example/pubspec.lock
  packages/adaptive_components/example/web/index.html
  packages/adaptive_components/example/web/manifest.json
  packages/adaptive_navigation/example/.metadata
  packages/adaptive_navigation/example/ios/RunnerTests/RunnerTests.swift
  packages/adaptive_navigation/example/macos/RunnerTests/RunnerTests.swift
  packages/adaptive_navigation/example/pubspec.lock
  packages/adaptive_navigation/example/test/widget_test.dart
  packages/adaptive_navigation/example/web/index.html
  packages/adaptive_navigation/example/web/manifest.json
Labels: p: adaptive_breakpoints, p: adaptive_navigation, p: adaptive_components

Delete widget_test.dart
  packages/adaptive_navigation/example/test/widget_test.dart
Labels: p: adaptive_navigation

update example READMEs
  README.md
  packages/dynamic_color/README.md
Labels: p: dynamic_color

[dynamic_color] 1.6.6
  packages/dynamic_color/CHANGELOG.md
  packages/dynamic_color/README.md
  packages/dynamic_color/pubspec.lock
  packages/dynamic_color/pubspec.yaml
Labels: p: dynamic_color

add version comment
  .github/workflows/label_pull_requests.yml
Labels: none

Remove local definition of mapIndexed and forEachIndexed in example
  packages/dynamic_color/example/lib/core_palette_visualization.dart
  packages/dynamic_color/example/pubspec.lock
  packages/dynamic_color/example/pubspec.yaml
  packages/dynamic_color/pubspec.lock
Labels: p: dynamic_color

x
  .github/workflows/google_fonts_update.yml
Labels: none

x
  .github/workflows/scorecard.yml
Labels: none

Remove local definition of mapIndexed and forEachIndexed in example (#452)
  packages/dynamic_color/example/lib/core_palette_visualization.dart
  packages/dynamic_color/example/pubspec.lock
  packages/dynamic_color/example/pubspec.yaml
  packages/dynamic_color/pubspec.lock
Labels: p: dynamic_color

[google_fonts] update fonts
  packages/google_fonts/CHANGELOG.md
  packages/google_fonts/example/pubspec.lock
  packages/google_fonts/generator/families_diff
  packages/google_fonts/generator/families_supported
  packages/google_fonts/lib/google_fonts.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_a.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_b.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_c.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_d.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_e.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_f.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_g.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_h.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_i.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_j.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_k.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_l.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_m.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_n.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_o.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_p.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_q.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_r.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_s.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_t.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_u.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_v.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_w.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_x.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_y.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_z.dart
  packages/google_fonts/pubspec.lock
  packages/google_fonts/pubspec.yaml
Labels: p: google_fonts

[google_fonts] update fonts (#472)
  packages/google_fonts/CHANGELOG.md
  packages/google_fonts/example/pubspec.lock
  packages/google_fonts/generator/families_diff
  packages/google_fonts/generator/families_supported
  packages/google_fonts/lib/google_fonts.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_a.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_b.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_c.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_d.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_e.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_f.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_g.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_h.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_i.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_j.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_k.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_l.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_m.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_n.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_o.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_p.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_q.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_r.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_s.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_t.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_u.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_v.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_w.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_x.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_y.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_z.dart
  packages/google_fonts/pubspec.lock
  packages/google_fonts/pubspec.yaml
Labels: p: google_fonts

[dynamic_color] update dependencies
  packages/dynamic_color/CHANGELOG.md
  packages/dynamic_color/example/pubspec.lock
  packages/dynamic_color/pubspec.lock
  packages/dynamic_color/pubspec.yaml
Labels: p: dynamic_color

add example
  packages/google_fonts/example/lib/selector_example.dart
  packages/google_fonts/example/lib/simple_example.dart
  packages/google_fonts/example/pubspec.lock
Labels: p: google_fonts

bump version
  packages/google_fonts/CHANGELOG.md
  packages/google_fonts/pubspec.yaml
Labels: p: google_fonts

rename files
  packages/google_fonts/example/lib/example_font_selection.dart
  packages/google_fonts/example/lib/example_simple.dart
Labels: p: google_fonts

Update main.dart
  packages/google_fonts/example/lib/main.dart
Labels: p: google_fonts

address feedback
  packages/google_fonts/example/lib/example_font_selection.dart
Labels: p: google_fonts

[google_fonts] Add selection example (#473)
  packages/google_fonts/CHANGELOG.md
  packages/google_fonts/example/lib/example_font_selection.dart
  packages/google_fonts/example/lib/example_simple.dart
  packages/google_fonts/example/lib/main.dart
  packages/google_fonts/example/pubspec.lock
  packages/google_fonts/pubspec.yaml
Labels: p: google_fonts

Delete unused .github/workflows/publish.yml
  .github/workflows/publish.yml
Labels: none

[dynamic_color] Impl. [isCorePaletteSupported] API #390
  packages/dynamic_color/.gitignore
  packages/dynamic_color/android/src/main/kotlin/io/material/plugins/dynamic_color/DynamicColorPlugin.kt
  packages/dynamic_color/example/lib/is_core_palette_supported_api_example.dart
  packages/dynamic_color/example/lib/main.dart
  packages/dynamic_color/example/pubspec.lock
  packages/dynamic_color/lib/src/dynamic_color_plugin.dart
  packages/dynamic_color/lib/test_utils.dart
  packages/dynamic_color/pubspec.lock
  packages/dynamic_color/test/dynamic_color_plugin_test.dart
Labels: p: dynamic_color

[dynamic_color] Update [CHANGELOG.md]
  packages/dynamic_color/CHANGELOG.md
Labels: p: dynamic_color

[global] Fix [CONTRIBUTING.md] instruction to format repository
  CONTRIBUTING.md
Labels: none

[dynamic_color] 1.6.8
  packages/dynamic_color/CHANGELOG.md
  packages/dynamic_color/example/pubspec.lock
  packages/dynamic_color/pubspec.lock
  packages/dynamic_color/pubspec.yaml
Labels: p: dynamic_color

[dynamic_color] Move flutter_test to dev_dependencies
  packages/dynamic_color/CHANGELOG.md
  packages/dynamic_color/pubspec.lock
  packages/dynamic_color/pubspec.yaml
Labels: p: dynamic_color

use super params
  packages/adaptive_components/lib/src/adaptive_column.dart
  packages/adaptive_components/lib/src/adaptive_container.dart
Labels: p: adaptive_components
