Repository material-foundation/flutter-packages, changes with the labels that .github/labeler.yml gives for each.
All labels: p: google_fonts, p: dynamic_color, p: adaptive_breakpoints, p: adaptive_navigation, p: adaptive_components, p: symbols

feat: add support for sequential font fallbacks to enhance text styling flexibility
  packages/google_fonts/lib/src/google_fonts_base.dart
Labels: p: google_fonts

test: validate correct font fallback behaviour
  packages/google_fonts/test/generated_font_methods_test.dart
Labels: p: google_fonts

docs: update changelog
  packages/google_fonts/CHANGELOG.md
Labels: p: google_fonts

Add Material 3 support.
  packages/adaptive_navigation/CHANGELOG.md
  packages/adaptive_navigation/example/lib/default_scaffold.dart
  packages/adaptive_navigation/example/lib/main.dart
  packages/adaptive_navigation/example/pubspec.lock
  packages/adaptive_navigation/example/pubspec.yaml
  packages/adaptive_navigation/lib/src/adaptive_navigation_scaffold.dart
  packages/adaptive_navigation/pubspec.lock
  packages/adaptive_navigation/test/adaptive_navigation_test.dart
Labels: p: adaptive_navigation

convert to using super params
  packages/adaptive_navigation/lib/src/adaptive_app_bar.dart
  packages/adaptive_navigation/lib/src/adaptive_navigation_scaffold.dart
Labels: p: adaptive_navigation

use InheritedModel instead of InheritedWidget to avoid unnecessary rebuild
  packages/adaptive_breakpoints/example/main.dart
  packages/adaptive_breakpoints/lib/src/adaptive_breakpoints.dart
  packages/adaptive_components/lib/src/adaptive_column.dart
  packages/adaptive_navigation/example/lib/custom_scaffold.dart
Labels: p: adaptive_breakpoints, p: adaptive_navigation, p: adaptive_components

update version and changelog for adaptive_breakpoint
  packages/adaptive_breakpoints/CHANGELOG.md
  packages/adaptive_breakpoints/pubspec.yaml
Labels: p: adaptive_breakpoints

update version and changelog for adaptive_components
  packages/adaptive_components/CHANGELOG.md
  packages/adaptive_components/pubspec.yaml
Labels: p: adaptive_components

Update packages/adaptive_components/CHANGELOG.md
  packages/adaptive_components/CHANGELOG.md
Labels: p: adaptive_components

run dart format
  packages/adaptive_components/lib/src/adaptive_column.dart
Labels: p: adaptive_components

[Enhancement] Use `InheritedModel` instead of `InheritedWidget` to avoid unnecessary rebuild (#520)
  packages/adaptive_breakpoints/CHANGELOG.md
  packages/adaptive_breakpoints/example/main.dart
  packages/adaptive_breakpoints/lib/src/adaptive_breakpoints.dart
  packages/adaptive_breakpoints/pubspec.yaml
  packages/adaptive_components/CHANGELOG.md
  packages/adaptive_components/lib/src/adaptive_column.dart
  packages/adaptive_components/pubspec.yaml
  packages/adaptive_navigation/example/lib/custom_scaffold.dart
Labels: p: adaptive_breakpoints, p: adaptive_navigation, p: adaptive_components

[adaptive_navigation] bump version
  packages/adaptive_navigation/CHANGELOG.md
  packages/adaptive_navigation/pubspec.yaml
Labels: p: adaptive_navigation

[dynamic_color] use `DynamicColors.isDynamicColorAvailable` verification
  packages/dynamic_color/android/build.gradle
  packages/dynamic_color/android/src/main/kotlin/io/material/plugins/dynamic_color/DynamicColorPlugin.kt
  packages/dynamic_color/example/pubspec.lock
Labels: p: dynamic_color

[dynamic_color] update changelog
  packages/dynamic_color/CHANGELOG.md
Labels: p: dynamic_color

[global] fix contributing step
  CONTRIBUTING.md
Labels: none

[dynamic_color] revert the example pubspec.lock file
  packages/dynamic_color/example/pubspec.lock
  packages/dynamic_color/pubspec.lock
Labels: p: dynamic_color

[dynamic_color] revert pubspec.lock from dynamic_color pkg
  packages/dynamic_color/pubspec.lock
Labels: p: dynamic_color

[dynamic_color] Fix changelog lower case at start
  packages/dynamic_color/CHANGELOG.md
Labels: p: dynamic_color

[dynamic_color] Set release version `1.6.9` and date
  packages/dynamic_color/CHANGELOG.md
Labels: p: dynamic_color

[dynamic_color] Impr. dynamic color detection on Android (#522)
  CONTRIBUTING.md
  packages/dynamic_color/CHANGELOG.md
  packages/dynamic_color/android/build.gradle
  packages/dynamic_color/android/src/main/kotlin/io/material/plugins/dynamic_color/DynamicColorPlugin.kt
Labels: p: dynamic_color

[dynamic_color] bump pubspec
  packages/dynamic_color/pubspec.yaml
Labels: p: dynamic_color

use widget instead of icon
  packages/adaptive_navigation/CHANGELOG.md
  packages/adaptive_navigation/example/lib/custom_scaffold.dart
  packages/adaptive_navigation/example/lib/default_scaffold.dart
  packages/adaptive_navigation/lib/src/adaptive_navigation_scaffold.dart
  packages/adaptive_navigation/test/adaptive_navigation_test.dart
Labels: p: adaptive_navigation

Update change description
  packages/adaptive_navigation/CHANGELOG.md
Labels: p: adaptive_navigation

bump version
  packages/adaptive_navigation/pubspec.yaml
Labels: p: adaptive_navigation

Update CHANGELOG.md
  packages/adaptive_navigation/CHANGELOG.md
Labels: p: adaptive_navigation

Remove unmaintained & unreleased packages from automatic dependabot version updates
  .github/dependabot.yml
Labels: none

group dependency updates
  .github/dependabot.yml
Labels: none

remove unused import
  packages/google_fonts/lib/src/google_fonts_base.dart
  packages/google_fonts/test/generated_font_methods_test.dart
Labels: p: google_fonts

fix operator==
  packages/google_fonts/lib/src/google_fonts_variant.dart
Labels: p: google_fonts

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update checks.yml
  .github/workflows/checks.yml
Labels: none

remove releasing badge from contributing guide
  CONTRIBUTING.md
Labels: none

[google_fonts] update fonts
  packages/google_fonts/CHANGELOG.md
  packages/google_fonts/example/pubspec.lock
  packages/google_fonts/generator/families_diff
  packages/google_fonts/generator/families_supported
  packages/google_fonts/lib/google_fonts.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_a.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_b.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_c.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_d.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_e.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_f.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_g.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_h.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_i.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_j.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_k.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_l.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_m.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_n.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_o.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_p.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_q.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_r.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_s.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_w.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_y.dart
  packages/google_fonts/pubspec.lock
  packages/google_fonts/pubspec.yaml
Labels: p: google_fonts

Update label_pull_requests.yml
  .github/workflows/label_pull_requests.yml
Labels: none

Update label_pull_requests.yml
  .github/workflows/label_pull_requests.yml
Labels: none

.github/labeler.yml:

# See .github/workflow/label_pull_requests.yml

'p: google_fonts':
  - packages/google_fonts/**/*

'p: dynamic_color':
  - packages/dynamic_color/**/*

'p: adaptive_breakpoints':
  - packages/adaptive_breakpoints/**/*

'p: adaptive_navigation':
  - packages/adaptive_navigation/**/*

'p: adaptive_components':
  - packages/adaptive_components/**/*

'p: symbols':
  - packages/symbols/**/*
