Repository material-foundation/flutter-packages, changes with the labels that .github/labeler.yml gives for each.
All labels: p: google_fonts, p: dynamic_color, p: adaptive_breakpoints, p: adaptive_navigation, p: adaptive_components, p: symbols

.github/labeler.yml:

# See .github/workflow/label_pull_requests.yml

'p: google_fonts':
  - packages/google_fonts/**/*

'p: dynamic_color':
  - packages/dynamic_color/**/*

'p: adaptive_breakpoints':
  - packages/adaptive_breakpoints/**/*

'p: adaptive_navigation':
  - packages/adaptive_navigation/**/*

'p: adaptive_components':
  - packages/adaptive_components/**/*

'p: symbols':
  - packages/symbols/**/*

[google_fonts] package maintenance
  packages/google_fonts/example/macos/Podfile.lock
  packages/google_fonts/example/macos/Runner.xcodeproj/project.pbxproj
  packages/google_fonts/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_fonts/example/pubspec.lock
  packages/google_fonts/pubspec.lock
Labels: p: google_fonts

improve implementation
  packages/google_fonts/generator/google_fonts.tmpl
  packages/google_fonts/lib/src/google_fonts_base.dart
Labels: p: google_fonts

update example
  packages/google_fonts/example/lib/main.dart
Labels: p: google_fonts

Update CHANGELOG.md
  packages/google_fonts/CHANGELOG.md
Labels: p: google_fonts

flutter pub get (beta)
  packages/google_fonts/README.md
Labels: p: google_fonts

Create google_fonts_text_style_test.dart
  packages/google_fonts/test/google_fonts_text_style_test.dart
Labels: p: google_fonts

[google_fonts] flutter pub get (beta)
  packages/dynamic_color/example/pubspec.lock
  packages/dynamic_color/pubspec.lock
Labels: p: dynamic_color

Update CHANGELOG.md
  packages/google_fonts/CHANGELOG.md
Labels: p: google_fonts

address feedback
  packages/google_fonts/test/google_fonts_text_style_test.dart
Labels: p: google_fonts

Add ability to wait for fonts to load with `GoogleFonts.pendingFonts` (#195)
  packages/google_fonts/CHANGELOG.md
  packages/google_fonts/README.md
  packages/google_fonts/example/lib/main.dart
  packages/google_fonts/generator/google_fonts.tmpl
  packages/google_fonts/lib/src/google_fonts_base.dart
  packages/google_fonts/test/google_fonts_text_style_test.dart
Labels: p: google_fonts

Split google_fonts.dart into multiple files
  packages/google_fonts/generator/generator.dart
  packages/google_fonts/generator/google_fonts.tmpl
  packages/google_fonts/generator/google_fonts_part.tmpl
  packages/google_fonts/lib/src/google_fonts_parts/part_A.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_B.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_C.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_D.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_E.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_F.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_G.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_H.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_I.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_J.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_K.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_L.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_M.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_N.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_O.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_P.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_Q.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_R.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_S.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_T.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_U.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_V.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_W.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_X.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_Y.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_Z.dart
Labels: p: google_fonts

fix case
  packages/google_fonts/generator/generator.dart
  packages/google_fonts/lib/google_fonts.dart
Labels: p: google_fonts

Update CHANGELOG.md
  packages/google_fonts/CHANGELOG.md
Labels: p: google_fonts

x
  packages/google_fonts/lib/src/google_fonts_parts/part_A.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_B.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_C.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_D.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_E.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_F.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_G.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_H.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_I.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_J.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_K.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_L.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_M.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_N.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_O.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_P.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_Q.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_R.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_S.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_T.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_U.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_V.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_W.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_X.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_Y.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_Z.dart
Labels: p: google_fonts

x
  packages/google_fonts/lib/src/google_fonts_parts/part_a.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_b.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_c.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_d.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_e.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_f.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_g.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_h.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_i.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_j.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_k.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_l.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_m.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_n.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_o.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_p.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_q.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_r.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_s.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_t.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_u.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_v.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_w.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_x.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_y.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_z.dart
Labels: p: google_fonts

fix formatting
  packages/google_fonts/generator/generator.dart
  packages/google_fonts/lib/google_fonts.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_a.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_b.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_c.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_d.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_e.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_f.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_g.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_h.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_i.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_j.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_k.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_l.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_m.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_n.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_o.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_p.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_q.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_r.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_s.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_t.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_u.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_v.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_w.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_x.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_y.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_z.dart
Labels: p: google_fonts

fix workflow command to `dart format`
  .github/workflows/google_fonts_update.yml
Labels: none

did some typos
  README.md
Labels: none

Split `google_fonts.dart` into multiple files (#416)
  packages/google_fonts/CHANGELOG.md
  packages/google_fonts/generator/generator.dart
  packages/google_fonts/generator/google_fonts.tmpl
  packages/google_fonts/generator/google_fonts_part.tmpl
  packages/google_fonts/lib/src/google_fonts_parts/part_a.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_b.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_c.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_d.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_e.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_f.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_g.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_h.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_i.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_j.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_k.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_l.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_m.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_n.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_o.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_p.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_q.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_r.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_s.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_t.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_u.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_v.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_w.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_x.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_y.dart
  packages/google_fonts/lib/src/google_fonts_parts/part_z.dart
Labels: p: google_fonts

[google_fonts] bump to 5.1.0
  packages/dynamic_color/example/pubspec.lock
  packages/dynamic_color/pubspec.lock
  packages/google_fonts/CHANGELOG.md
  packages/google_fonts/example/pubspec.lock
  packages/google_fonts/pubspec.lock
  packages/google_fonts/pubspec.yaml
Labels: p: google_fonts, p: dynamic_color

[google_fonts] update windows runner files
  packages/google_fonts/example/windows/runner/CMakeLists.txt
  packages/google_fonts/example/windows/runner/Runner.rc
Labels: p: google_fonts

try new workflow
  .github/workflows/deploy_github_pages.yml
  .github/workflows/static.yml
Labels: none

better workflow
  .github/workflows/deploy_github_pages.yml
Labels: none

remove web build
  packages/dynamic_color/.gitignore
  packages/dynamic_color/example/build/web/.last_build_id
  packages/dynamic_color/example/build/web/assets/AssetManifest.json
  packages/dynamic_color/example/build/web/assets/FontManifest.json
  packages/dynamic_color/example/build/web/assets/NOTICES
  packages/dynamic_color/example/build/web/assets/fonts/MaterialIcons-Regular.otf
  packages/dynamic_color/example/build/web/assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
  packages/dynamic_color/example/build/web/canvaskit/canvaskit.js
  packages/dynamic_color/example/build/web/favicon.png
  packages/dynamic_color/example/build/web/flutter_service_worker.js
  packages/dynamic_color/example/build/web/icons/Icon-192.png
  packages/dynamic_color/example/build/web/icons/Icon-512.png
  packages/dynamic_color/example/build/web/icons/Icon-maskable-192.png
  packages/dynamic_color/example/build/web/icons/Icon-maskable-512.png
  packages/dynamic_color/example/build/web/index.html
  packages/dynamic_color/example/build/web/main.dart.js
  packages/dynamic_color/example/build/web/manifest.json
  packages/dynamic_color/example/build/web/version.json
Labels: p: dynamic_color

Delete .pubignore
  packages/dynamic_color/.pubignore
Labels: p: dynamic_color

Update index.html
  packages/dynamic_color/example/web/index.html
Labels: p: dynamic_color

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  packages/dynamic_color/example/web/index.html
Labels: p: dynamic_color

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  packages/dynamic_color/example/web/index.html
Labels: p: dynamic_color

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none

x
  .github/workflows/deploy_github_pages.yml
Labels: none
